[submodule "whitsonbuck/themes/hugo-theme-console"]
	path = whitsonbuck/themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "whitsonbuck/public"]
	path = whitsonbuck/public
	url = https://github.com/whitson-buck/whitson-buck.github.io.git
	branch = main
